<div class="row justify-content-center pt-5">
    <div class="col-6">
        <p class="sub-title mb-1">
            About Me
        </p>
        <div class="row">
            <div class="col">
                <p class="body mb-0">
                    Moshi moshi! My name is Angela Kalogeras. I am a student and junior software developer
                    hailing from Acton, CA. I work at Proforma located in Tampa, FL.
                </p>
                <p class="ml-5 body">
                    -Born 1996
                </p>
                <p class="body1">
                    <i> "Any female born after 1993 can't cook...all they know is McDonald's, charge they phone,
                        twerk, be bisexual, eat hot chip and lie."</i>
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-3">
                <p class=" contact-box text-center pt-1">
                    <a href="Angela Kalogeras Resume.docx" download="Angela Kalogeras Resume" class="body3"><b>Download
                            Resume</b></a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row parentclass justify-content-center mb-5 pb-5">
    <div class="col">
        <h1 class="portfolio-font  text-center">PORTFOLIO</h1>
        <div class="text-center mt-0 p-0 childclass firstchild">
            <p class="portfolio-font2">My WORK</p>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5 pt-5">
    <div class="col-3 options-box p-0">
        <ul class="list-inline text-center">
            <li class="list-inline-item px-3 py-0"><a href="#">ALL</a></li>
            <li class="list-inline-item px-3 py-0"><a href="#">BRANDING</a></li>
            <li class="list-inline-item px-3 py-0"><a href="#">DESIGN</a></li>
            <li class="list-inline-item px-3 py-0"><a href="#">GRAPHIC</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center mt-5 pt-5 ">
        <div class="col-lg-11">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow mr-3 p-0">
                    <img src="../../assets/images/bootstrapimg.png">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow ml-3 p-0">
                    <img src="../../assets/images/bootstrap2img.png">
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow mr-3 p-0">
                    <img src="../../assets/images/recipeimg.png">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow ml-3 p-0">
                    <img src="../../assets/images/recipe2img.png">
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow mr-3 p-0">
                    <img src="../../assets/images/wikipgimg.png">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 border-shadow ml-3 p-0">
                    <img src="../../assets/images/memorygameimg.png">
                </div>
            </div>
        </div>
    </div>
</div>