<div class="row parentclass justify-content-center">
    <div class="col">
        <h1 class="portfolio-font  text-center">SERVICES</h1>
        <div class="text-center mt-0 p-0 childclass firstchild">
            <p class="portfolio-font2">best features</p>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5 pt-5">
    <div class="col-3 body design-col p-3 mx-5">
        <div class="row">
            <div class="col-1">
                <p>
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col">
                <p>
                    <a href="#"><b>UI / UX Design</b></a>
                </p>
            </div>
        </div>
        <p class="services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="col-3 body design-col2 p-3 mx-5">
        <div class="row">
            <div class="col-1">
                <p>
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col">
                <p>
                    <a href="#"><b>Web Development</b></a>
                </p>
            </div>
        </div>
        <p class="services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="col-3 body design-col p-3 mx-5">
        <div class="row">
            <div class="col-1">
                <p>
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col">
                <p>
                    <a href="#"><b>Photography</b></a>
                </p>
            </div>
        </div>
        <p class="services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
</div>
<div class="row img-wrap mt-5 ">
    <div class="col"><img
            src="https://webneel.com/wallpaper/sites/default/files/images/08-2013/15-beach-sand-starfish-wallpaper.jpg"
            class="img-bg">
        <div class="img-content2 ">
            <div class="row justify-content-center">
                <div class="col-2 text-center mt-5 pt-5">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <div class="row">
                        <div class="col body1">
                            <p class="mb-0">
                                <b>21</b><br>
                            </p>
                            <p>
                                HAPPY CLIENTS
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-center mt-5 pt-5">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <div class="row">
                        <div class="col body1">
                            <p class="mb-0">
                                <b>21</b><br>
                            </p>
                            <p>
                                PROJECTS COMPLETED
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-center mt-5 pt-5">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div class="row">
                        <div class="col body1">
                            <p class="mb-0">
                                <b>21</b><br>
                            </p>
                            <p>
                                FILES DOWNLOADED
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-center mt-5 pt-5">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <div class="row">
                        <div class="col body1">
                            <p class="mb-0">
                                <b>21</b><br>
                            </p>
                            <p>
                                AWARDS WON
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row img-wrap">
    <div class="col"><img src="https://pbs.twimg.com/media/CGQhmgTUgAAVm7R.jpg:large" class="testimonials-bg">
        <div class="testimonials-content2 ">
            <div class="row justify-content-center">
                <div class="col-4 text-center mt-5 pt-5">
                    <p class="body1 mb-0"><b>WHAT PEOPLE SAY?</b></p>
                    <p class="testimonials-section-title">TESTIMONIALS</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <p class="body mb-0 mt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 text-center mt-5 pt-5">
                    <img src="../../assets/images/profileimg.jpg" class="profileimg">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 text-center pt-4">
                    <b>
                        <p class="body2 mb-0">ANGELA KALOGERAS</p>
                        <p class="body">Founder of Long Naps</p>
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>